<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <div class="col-md-offset-1 col-md-10">
            <h2 style="text-align: center;margin-bottom: 70px;margin-top: 40px;">Privacy Policy</h2>
            <h3>Please read Carefully before taking any decision..!!</h3>

            <p>
                DayBoxTechnologies Private Limited (‘DayBox’, ‘We’, ‘Our’) is committed to protecting your privacy and
            ensuring you have a positive experience on our app, POSO (“App”). This policy outlines our personal
            information handling practices for both online and offline data. If you give us personal information, we
            will treat it according to this policy.
            </p>

            <p>
                We encourage you to read this policy to ensure you understand DayBox’s privacy practices.
            </p>

            <p>We adhere to the following principles to protect your privacy:</p>


            <p>
                1. We do not rent or sell your personally identifiable information to third parties for any purposes,
            including marketing purposes.
                <br>
            2. We share your contact information with another User or third party upon your consent.
            <br>

            3. Any personally identifiable information that you provide will be secured with industry standard protocols
            and technology.
                <br>
            </p>

            <p>
                We reserve the right to modify this privacy statement at any time, so please review it frequently. If we
            make material changes to this policy, we will notify you by means of a push notification on our App. By
            continuing to use the services on our App after notification regarding changes, you are consenting to the
            changes.
            </p>


            <h3>CUSTOMER DATA:</h3>


            <p>
                DayBox provides its Services as SaaS (Software as a Service) Model, and will host data and information.
            Individual records of Customer Data may be viewed or accessed for the purpose of resolving a problem,
            improving existing Services or introducing new Services, support issues, or suspected violation of the Terms
            of Use Agreement, or as may be required by law. We would take all reasonable precautions for maintaining
            confidentiality of data.
            </p>


            <p>
                We advise you that if you do not wish to have your information used or displayed as described in the privacy
            policy and Terms of Use Agreement, you should reconsider becoming User of the App and its Services. You
            willingly provide us certain personal information, which we collect in order to provide the Services. If you
            have any hesitation about providing such information to us and/or having such information displayed on the
            App or otherwise used in any manner permitted in this Privacy Policy and the User Agreement, you should not
            become a User / Member.
            </p>


            <h3>Personal Information collected:</h3>


            <b>
                We collect your personal information in the following ways:
            </b>


            <b>Registration</b>


            <p>In order to become a User, you must first create an account on our App. To create an account you are
            required to provide the following information, which you recognize and expressly acknowledge is personal
            information allowing others, including DayBox, to identify you: name, User ID, email address, country,
            ZIP/postal code, age, phone number, password chosen by you and valid financial account information. Other
            information requested on our Registration page, including the ability to receive promotional offers from
            DayBox, is optional. We may, in future, include other optional requests for information from you to help us
            to customize the App to deliver personalized information to you. Without your agreement, we will not share,
            rent or sell any personal information with third parties in any way other than what is disclosed in this
            privacy statement.</p>


            <b>Payment</b>


            <p>
                We may require our Users to pay with a wire transfer, cheque or cash with receipt. We will collect your
            financial institution information such as bank account numbers and will use that information for the billing
            and payment processes, including but not limited to the use and disclosure of such information to third
            parties as necessary to complete such billing operation.
            </p>


            <b>IP addresses and information about your device</b>

            <p>
                When you open the App using external link we automatically receive the URL of the site from which you came.
            We also receive the Internet protocol (IP) address, name of internet service provider, company, model and
            operating system of your device. This information is used to analyze overall trends to help us improve our
            Service. The linkage between your IP address and your personally identifiable information is not shared with
            third-parties without your permission or except when required by law.
            </p>


            <p>
                We allow other companies, to serve advertisements to Users. These companies include third party ad servers,
            ad agencies, ad technology vendors and research firms. DayBox may “target” some ads to Users that fit a
            certain general profile. DayBox does NOT use personally identifiable information to target ads.
            </p>


            <p>
                All the information you provide to DayBox, including sensitive personal information, is voluntary. You have
            the right to withdraw your consent at any time, in accordance with the terms of this Privacy Policy and the
            Terms of Use Agreement, but please note that your withdrawal of consent will not be retroactive.
            </p>

            <p>
                You can access, modify, correct and eliminate the data about you which has been collected pursuant to your
            decision to become a User. If you update any of your information, we may keep a copy of the information
            which you originally provided to us in our archives for uses documented herein. We take your rights
            seriously and encourage you to use them if you deem this to be appropriate. You may exercise these rights by
            emailing us at contact@daybox.in
            </p>


            <h3>
                Uses of Personal Information
            </h3>


            <p>
                Your personally identifiable information you choose to provide on our App is used to help you describe /
            identify yourself. Other information, that does not personally identify you as an individual, is collected
            by DayBox from Users (such as, patterns of utilization described above) and is exclusively owned by DayBox.
            This information can be utilized by DayBox in such manner as DayBox, in its sole discretion, deems
            appropriate.
            </p>


            <b>Communication and Update</b>

            <p>
                DayBox will communicate with you through email and notification posted on the App or through other means
            available through the service, including text and other forms of messaging. You can change your e-mail and
            contact preferences at any time by logging into your “Profile” in POSO app.
            </p>


            <b>Surveys, Contests and Polls</b>

            <p>
                At times, DayBox conducts a User survey to collect information about our Users’ preferences. These surveys
            are optional and if you choose to respond, your responses will be kept anonymous. Similarly, we may offer
            contests to qualifying Users in which we ask for contact and demographic information such as name, email
            address and mailing address. None of this information is shared with third parties, except in summary form,
            if at all. The demographic information that DayBox collects in the registration process and through surveys
            is used to help us improve our Services to meet the needs and preferences of our Users. This may include
            targeting advertising to you about our Services. Information we gather through a contest may also be
            disclosed to third parties, as necessary, for prize fulfillment and other aspects of any contest or similar
            offering.
            </p>


            <b>
                Legal Disclaimer
            </b>

            <p>It is possible that we may need to disclose personal information when required by law, such as responses to
            civil or criminal subpoenas, or other requests by law enforcement personnel. We will disclose such
            information wherein we have a good-faith belief that it is necessary to comply with a court order, ongoing
            judicial proceeding, subpoena, or other legal process or request to DayBox brought in any country throughout
            the world, or to exercise our legal rights or defend against legal claims.</p>


            <b>Disclosures to others</b>

            <p>
                We may also disclose your personal and other information you provide, to another third party as part of a
            reorganization or a sale of the assets of a DayBox corporation division or company. Any third party to which
            we transfer or sell DayBox’ assets will have the right to continue to use the personal and other information
            that you provide to us.
            </p>


            <b>Other uses:</b>


            <p>
                1. Providing our products and services to users, including the display of customized content and
            advertising;
                <br>
            2. Auditing, research and analysis in order to maintain, protect and improve our services;
                <br>
            3. Ensuring the technical functioning of our network; and
                <br>
            4. Developing new services.
            </p>


            <b>Sharing information with third parties</b>

            <p>
                To the extent necessary to provide you with the services on the App, we may provide your Personal
            Information to third party contractors who work on behalf of or with DayBox to provide you with such
            services, to help us communicate with you or to maintain the App. Generally these contractors do not have
            any independent right to share this information, however certain contractors who provide services on the
            App, including the providers of online communications services, will have rights to use and disclose the
            Personal Information collected in connection with the provision of these services in accordance with their
            own privacy policies.
            </p>


            <b>External links</b>


            <p>
                This Privacy Policy applies to web sites and services that are owned and operated by DayBox. We do not
            exercise control over the sites displayed as search results or links from within our various services. These
            other sites may place their own cookies or other files on your computer, collect data or solicit personal
            information from you, for which DayBox is not responsible or liable. We encourage you to read the privacy
            policies of that website/application.
            </p>

            <p>
                DayBox will communicate with you through email and push notifications posted on the App or through other
            means available through the service, including text and other forms of messaging. You can change your e-mail
            and contact preferences at any time by logging into your “Account” at www.DayBox.com and changing the
            account settings.
            </p>


            <h3>Your choice in managing your information</h3>


            <b>Closing your account</b>

            <p>
                You can also close your account on the App. On closure, we will remove your name and other personally
            identifiable information from our publicly viewable database. We may retain certain data contributed by you
            if we believe it may be necessary to prevent fraud or future abuse, or for legitimate business purposes,
            such as analysis of aggregated, non- personally identifiable data, account recovery, or if required by law.
            To request that we close your account and remove your information from the App, please send your request to
            contact@DayBox.in. You will receive a response to your requests within five business days of its receipt.
            </p>


            <b>Retrieval of information</b>

            <p>
                DayBox internally has a process on information security and your information being accessed only by those
            who are authorized. In situations where you accidentally delete your information and would like to retrieve,
            then this core team may access the stored database and recover the same. Please be aware that this team may
            have to go through your personal information in order to restore the information sought by you.
            </p>


            <h3>Users Obligations</h3>

            <p>
                You must, at all times, respect the terms and conditions of the then-current Privacy Policy and the Terms of
            Use Agreement. This includes respecting all intellectual property rights which may belong to third parties.
            </p>

            <p>
                You must not download or otherwise disseminate any information which may be deemed to be injurious, violent,
            offensive, racist or xenophobic or which may otherwise violate the purpose and Service.
            </p>

            <p>
                You must not provide information to DayBox and /or other Users which you believe might be injurious or
            detrimental to your person, professional or social status.
            </p>


            <h3>Children

            </h3>

            <p>
                Children below 18 years are not eligible to use our service and we hereby request children below this age
            group not to submit any personal information to us or use the service.
            </p>


            Information Security

            We take appropriate security measures to protect against unauthorized access to or unauthorized alteration,
            disclosure or destruction of data. These include internal reviews of our data collection, storage and
            processing practices and security measures, as well as physical security measures to guard against
            unauthorized access to systems where we store personal data.

            We restrict access to personal information to DayBox employees, contractors and agents who need to know that
            information in order to operate, develop or improve our services. These individuals are bound by
            confidentiality obligations and may be subject to discipline, including termination and criminal
            prosecution, if they fail to meet these obligations.


        </div>
    </div>
</div>
</body>
</html>