<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <div class="col-md-offset-1 col-md-10">
            <h2 style="text-align: center;margin-bottom: 70px;margin-top: 40px;">
                Terms & Conditions
            </h2>
            <h4>Please read Carefully before taking any Decisions..!!</h4>

            <p>
                This Terms and Condition for Use of POSO app is a legal agreement (Agreement) between you and
                DayBoxTechnologies Private Limited, a private limited company incorporated in India, (hereinafter
                referred to as ‘DayBox’, ‘POSO, ‘Our’, ‘Us’, ‘We’) providing, among other things, the terms and
                conditions for your use of subscription services( the ‘Services’ or ‘App services’), primarily a
                mobile
                based Business management app(the ‘App’, ‘POSO’) available for download through the Apple App Store
                and
                Google Play.
            </p>


            <p>
                Read the Terms and Conditions carefully. Your use of POSO means you are consenting to these Terms and
                Conditions.
            </p>


            <p>
                These Terms and Conditions may be modified from time to time in DayBox sole discretion and you may not
                be notified. It is your responsibility to review these Terms and Conditions from time to time. You will
                be deemed to have accepted the Agreement as amended if you continue to use any of the Services after any
                amendments are made. We reserve the right to include additional terms and conditions if we were to
                provide additional services or programs. You shall be bound by the same on your participation in such
                services or programs.
            </p>


            <h3>AUTHORISED USERS</h3>
            <p>
                You represent that you have read and understood, and that you agree to be bound by this Agreement. The
                services are available to legal entities or individuals aged 18 years or older. By using the App you
                represent that you are at least 18 years old.
            </p>


            <h3>REGISTRATION</h3>
            <p>
                To use the App, you may have to be registered and provide your name, valid email address, contact number
                and other details. Please see our Privacy Policy on how the personal information would be used.
            </p>


            <h3>ACCOUNT SECURITY</h3>
            <p>
                You are solely responsible for the confidentiality of any password and other account information that
                you create in order to access or use the Services. You agree to notify us immediately on any
                unauthorized use of your account, user name, or password. You also agree that We are not liable in any
                manner for any loss that you may incur as a result of any third party using your password, either with
                or without your knowledge. You are solely liable for any losses incurred by Us, Our affiliates,
                officers, directors, employees, consultants, agents, and representatives due to misuse of your account
                or password. Log-in to your account shall be used by one person. Multiple people are not permitted to
                share the same/single log-in.
            </p>


            <h3>
                SERVICE AND USE OF APP
            </h3>
            <p>
                DayBox provides Services through the POSO App, Business management solutions as a Software as a Solution
                (SaaS) model. Use of the App may require you to use software provided by or operated from the App, and
                on occasion we may make certain software available to you from the App. To the extent you use such
                software, the software, including all files and images contained in or generated by the software, and
                accompanying data (collectively, “Software”) will be deemed to be licensed to you by us, for providing
                Services to you and enabling you to use those Services only. We do not transfer either the title or the
                intellectual property rights to the Software, and we (or our licensors) retain full and complete title
                to the Software as well as all intellectual property rights therein. You may not sell, redistribute, or
                reproduce the Software, nor decompile, reverse-engineer, disassemble, or otherwise convert the Software
                to a human-perceivable form.
            </p>

            <h5>Our Responsibilities</h5>

            <p>
                use commercially reasonable efforts to make the Services available 24 hours a day, 7 days a week, except
                for:
                1. planned downtime (of which We shall give at least 8 hours notice via the Services and which We shall
                schedule to the extent practicable during the weekend hours from 6:00 p.m. Indian Standard Time (IST)
                Friday to 6:00 a.m. Indian Standard Time (IST) Monday), or
                2. any unavailability caused by circumstances beyond Our reasonable control, including without
                limitation, acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of terror,
                strikes or other labor problems (other than those involving Our employees), or Internet service provider
                failures or delays
                and provide the Services only in accordance with applicable laws and government regulations.
            </p>


            <h5>Usage Limitations</h5>

            <p>
                Our Services may be subject to limitations, such as, for example, limits on disk storage space, on the
                number of calls you are permitted to make against Our application programming interface, and, other
                limitations dependent on the User Plan, for example, number of SMS, number of users or accounts. Any
                such limitations are specified in the User Plans. The Services provide real-time information to enable
                you to monitor your compliance with such limitations.
            </p>

            <p>
                We may suspend your ability to use or access the App at any time while we investigate complaints or
                alleged violations of this Agreement, or for any other reason within our sole discretion. We cannot
                assure you of accessibility or availability of the App at all times but would strive for an uptime of
                99.99%.
            </p>


            <h3>PAYMENT, FEES AND TAXES</h3>
            <p>
                You agree to pay all subscription fees, consulting fees and other fees applicable to your use of
                Services and you shall not circumvent the fee structure. The fee is dependent on the User Plan that you
                purchase and not on actual usage of the services. The subscription fee is non-refundable. Each User /
                Member is solely responsible for payment of all taxes, legal compliances, statutory registrations and
                reporting. DayBox is in no way responsible for any of the taxes except for its own income tax.
            </p>


            <h5>Method of payment:</h5>

            <b>1.Online:</b> The Fees could be paid online through the facility made on the App or through NEFT/IMPS.
            Third
            parties support and services are required to process online fee payment. We are not responsible for any
            loss or damage caused to you during this process as these third parties are beyond the control of
            DayBox.
            <br>
            <b>2.Offline:</b> The Fees could be either collected personally from you or required to be mailed to Us at
            the
            following address: 6A, NP-BLOCK, PITAMPURA, DELHI, INDIA -110034


            <p>We consider the payment process to be complete only on receipt of the amount to DayBox’s designated bank
                account.</p>


            <p>
                All Fees are exclusive of taxes. Service Tax of 15.5% is levied on every purchase.
            </p>


            <p>
                Fees not received within the specified due dates attract late charges of 18% per annum from the due-date
                of payment, which may be levied at DayBox’s discretion.
            </p>

            <p>
                DayBox reserves the right to modify the fee structure by providing a 14-day prior notice, either by
                notice on the App or through email to the Authorized User, which shall be considered as valid and agreed
                communication.
            </p>

            <p>
                In order to process the payments, we might require details of your bank account, credit card number etc.
                Please check our Privacy Policy on how we use the confidential information provided by you.
            </p>

            <p>
                Non-payment of fee for a continuous period of 30 days, DayBox reserves the right to discontinue the
                Services to you and delete all information in your Account, apart from reserving any legal recourse
                available.
            </p>


            <h3>
                INTELLECTUAL PROPERTY
            </h3>
            <p>
                DayBox grants you a limited license to access and, if you are a Member, to use this App internally for
                the Services of ordering, receiving, delivering and communicating only as per this Agreement. You must
                not sell, copy, reproduce, modify, distribute, display, publicly perform, prepare derivative works based
                on, repost or otherwise use any content of this App in anyway other than those listed in this Agreement,
                including for any public or commercial purposes. You must not use any content of this App on any other
                website/app or in a networked computer environment for any purpose other than your own viewing. You
                shall not reverse engineer or attempt to interfere with the operation of any part of this App.
                DayBox retains all its rights, title and interest in all copyrights, know-how, trade secrets, trademark,
                logo, the name DayBox, content, design and features on the App. All other product names, marks, logos,
                symbols used on the App may be the trademarks of their respective owners.
            </p>


            <h3>AFFILIATED / EXTERNAL SITES</h3>
            <p>
                Our App may be linked to the website of third parties, affiliates and business partners. We have no
                control over, and not liable or responsibility for content, accuracy, validity, reliability, quality for
                such websites or made available by / through our App. Inclusion of any link on our App does not imply
                that we endorse the linked site. You use the links and these services at your own risk.
            </p>


            <h3>USER CONDUCT</h3>
            <p>
                All Users agree to adhere to the below code of conduct.
            </p>

            <p>While using the App, software and/or Service, you agree not to</p>


            <p>
                Restrict or inhibit any other visitor or member from using the App, including, without limitation, by
                means of “hacking” or defacing any portion of the App;
                Use the App, software and/or Service for any unlawful purpose; or post any information which infringes
                third party’s intellectual property rights or privacy policy.
                Express or imply that any statements you make are endorsed by us;
                Transmit
            </p>
            <p>
                1. any content or information that is unlawful, fraudulent, threatening, abusive, libellous, defamatory,
                obscene or otherwise objectionable, or infringes on our or any third party’s intellectual property or
                other rights;
                <br>
                2. any material, non-public information about companies without the authorization to do so;
                <br>
                3. any trade secret of any third party; or any advertisements, solicitations, chain letters, pyramid
                schemes, investment opportunities, or other unsolicited commercial communication
                <br>
                4. (except as otherwise expressly permitted by us), or engage in spamming or flooding;
                <br>
                5. any job posting involving any franchise, club membership, distributorship or sales representative
                agency arrangement or other business opportunity
                <br>
                6. Transmit any software or other materials that contain any virus, worm, time bomb, Trojan horse, or
                other harmful or disruptive component;
                <br>
                7. Modify, adapt, sub-license, translate, sell, reverse engineer, decompile or disassemble any portion
                of the App or software;
                <br>
                8. Remove any copyright, trademark, or other proprietary rights notices contained in the App;
                <br>
                9. “Frame” or “mirror” any part of the App without our prior written authorization;
                <br>
                10. Use any robot, spider, site search/retrieval application, or other manual or automatic device or
                process to retrieve, index, “data mine,” or in any way reproduce or circumvent the navigational
                structure or presentation of the Site or its contents; or
                <br>
                11. Harvest or collect information about App users or members without their express consent.
            </p>


            <h3>WARRANTY DISCLAIMER</h3>
            <p>
                The Services provided by DayBox or any of our licensors or providers are provided “as is,” as available,
                and without any warranties or conditions (express or implied, including the implied warranties of
                merchantability, accuracy, fitness for a particular purpose, title and non-infringement, arising by
                statute or otherwise in law or from a course of dealing or usage or trade). We make no representations
                or warranties, of any kind, either express or implied, as to the quality, identity or reliability of any
                third party, or as to the accuracy of the postings made on the App by any third party.
            </p>


            <h3>
                COMPLIANCE TO LAWS
            </h3>
            <p>
                The Users are solely responsible for compliance to all applicable laws, including customer history,
                confidential information and privacy laws. POSO is a facilitator for business management and provides
                technology platform. POSO is in no way responsible, liable, accountable for customer information
                available on the software provided by POSO.
            </p>


            <h3>
                INDEMNITY
            </h3>
            <p>
                You agree to indemnify and hold harmless the Company, its affiliates, officers, directors, employees,
                consultants, licensors, agents, and representatives from any and all third party claims, losses,
                liability, damages, and/or costs (including reasonable attorney fees and costs) arising from your access
                to or use of App, your violation of this Agreement, or your infringement, or infringement by any other
                user of your account, of any intellectual property or other right of any person or entity. We will
                notify you promptly of any such claim, loss, liability, or demand, and in addition to your foregoing
                obligations, you agree to provide us with reasonable assistance, at your expense, in defending any such
                claim, loss, liability, damage, or cost
            </p>
            <h3>
                TERMINATION
            </h3>
            <p>
                You can terminate your Membership with us at any time by providing 30 days of prior written notice to
                our team. We need this period to inactivate your Account, only after verifying if there are any ongoing
                or pending Services or payments. We may want you to continue until the completion of an on-going Service
                should the situation warrant.
            </p>
            <p>
                You shall be obligated to pay DayBox for any Services for which you have procured.
                DayBox reserves the right to terminate any Account in cases

            </p>

            <p>
                1. you breach any terms and conditions of this Agreement.
                <br>
                2. we are unable to verify or authenticate any information you provide to us; or
                <br>
                3. we believe in our sole discretion that your actions may cause legal liability for you, our Users or
                for DayBox or are contrary to the interests of the App. Once temporarily suspended, indefinitely
                suspended or terminated, you may not continue to use the App under the same Account, a different Account
                or re- register under a new Account. On termination of your Account due to the reasons mentioned herein,
                you shall no longer have access to data, messages, files and other material you keep on the App. Please
                ensure that you have continuous backup of the Services you have rendered in order to comply with your
                record keeping process and practices.

            </p>

            <p>
                Return of Your Data. Upon request by You made within 30 days after the effective date of termination of
            a Services subscription, We will make available to you for download a file of your Data in comma
            separated value (.csv) format. After such 30-day period, We shall have no obligation to maintain or
            provide any of your Data.
            </p>


            <p>
                In the event we suspend or terminate your registration or Account, we reserve the right but not an
            obligation to
                1. notify other Members
                <br>
                2. Even after termination, certain obligations mentioned under Warranty Disclaimer, Limited Liability,
            Indemnity, Intellectual Property, Dispute Resolution will continue and survive termination.
            </p>







            <h3>CUSTOMER SERVICE</h3>
            <p>
                If you have any questions, issues, complaints regarding any of our Services, please contact our customer
            service at contact@daybox.in

            </p>

            <h3>DISPUTE RESOLUTION</h3>
            <p>
                Our goal is to provide Services efficiently and communicate effectively with Users / Members to prevent
            any dispute. Should a dispute arise between you and DayBox, you shall agree with us to resolve such
            dispute quickly and cost effectively. Before resorting to any legal recourse we urge you to contact our
            Customer Service team so that we can resolve issues amicably.
            </p>


            <h3>NOTICES AND COMMUNICATION</h3>
            <p>
                DayBox communicates with you through the email address you have provided us. It is your responsibility
            to keep your email address and snail mail address update at all times. You consent to receive
            communications from us electronically and you agree that these electronic communications satisfy any
            legal requirement that such communications be in writing. If you fail to respond to an email message
            regarding violation, dispute or complaint within two business days, we reserve the right to terminate or
            suspend your Account.
            </p>


            <p>
                All notices to us intended to have a legal effect must be in writing and delivered to the following
            address: 6A, NP-BLOCK, PITAMPURA, DELHI, INDIA -110034
            </p>


            <h3>GOVERNING LAW</h3>
            <p>
                These Terms of Use and any contractual obligation between Us and You will be governed by the laws of
            India, subject to the Courts in Delhi.
            </p>


            <h3>SEVERABILITY WAIVER</h3>
            <p>If any provision of this Terms and Conditions is held to be invalid or unenforceable, such provision
            shall be struck and the remaining provisions shall be enforced.</p>


            <h3>CONTACT INFORMATION</h3>
            <p>
                If you have any questions concerning us, the App, these Terms of Use, or anything related to any of the
            foregoing, we can be reached at the following email address- contact@daybox.in or via the contact
            information available from the following hyperlink: https://www.daybox.in/
            </p>


        </div>
    </div>
</div>
</body>
</html>