appnope==0.1.0
attrs==17.2.0
Automat==0.6.0
av==0.3.3
constantly==15.1.0
cycler==0.10.0
decorator==4.0.11
dj-database-url==0.4.2
ffmpeg-python==0.1.6
ffmpy==0.2.2
future==0.16.0
gunicorn==19.7.1
imageio==2.1.2
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
matplotlib==2.1.0
mglearn==0.1.6
moviepy==0.2.3.2
nltk==3.2.5
numpy==1.13.3
olefile==0.44
pandas==0.20.3
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PyDispatcher==2.0.5
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-thumbnails==0.5.1
pytz==2017.2
requests==2.6.0
scikit-learn==0.19.0
scipy==0.19.1
setuptools==36.6.0
simplegeneric==0.8.1
six==1.9.0
tqdm==4.11.2
traitlets==4.3.2
virtualenv==15.1.0
wcwidth==0.1.7
youtube-dl==2017.10.20
zope.interface==4.4.3
