{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include "assets/meta.html" %}

</head>

<body>
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

    <div class="ex-page-content text-xs-center">
        <div class="text-error">4<span class="ion-sad"></span>4</div>
        <h3 class="text-uppercase text-white font-600">Page not Found</h3>
        <p class="text-white m-t-30">
            It's looking like you may have taken a wrong turn.
        </p>
        <br>

    </div>


</div>
<!-- end wrapper page -->
{% include "assets/scripts.html" %}
</body>
</html>
