{% load staticfiles %}

<!-- Plugins css -->
<link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/mjolnic-bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}"
      rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/clockpicker/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">