{% load staticfiles %}

<script src="{% static 'assets/plugins/moment/moment.js' %}"></script>
<script src="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/plugins/clockpicker/bootstrap-clockpicker.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>